body {
    font-family: sans-serif;
    background-color: #637A8F;
    color: #BCD9F1;
    font-size:30px;
}

header {
    background-color: #5A6E75;
    padding: 1px;
    padding-left: 15px;
    text-align: center;
}

header p {
    font-size:30px;
    color: #BCD9F1;
}

footer {
    color: #BCD9F1;
    background-color: #5A6E75;
    padding: 1px;
    padding-left: 15px;
    margin-top: 50px;
}

a {
    margin-left: 210px;
    color: #003647;
    border: 5px solid #5A6E75;
    text-decoration: none;
} 

